$base-font-family: 'SF Pro Display';
$base-label-color: #1d1d1b;
$base-link-color: #6335cc;
$base-icon-color: #1d1d1b;
$base-accent: #6335cc;
$base-text-color: #1d1d1b;
$base-bg: #ffffff;
$base-border-color: #f7f5f6;
$base-border-radius: 4px;
$base-success: #5cb85c;
$base-warning: #f0ad4e;
$base-danger: #d9534f;
$base-hover-color: #1d1d1b;
$base-hover-bg: rgba(0, 0, 0, 0.04);
$base-focus-color: #fff;
$base-focus-bg: #6335cc;
$badge-color: #fff;
$badge-bg: #6335cc;
$texteditor-color: #1d1d1b;
$texteditor-placeholder-color: #86867e;
$texteditor-bg: #ffffff;
$texteditor-filled-bg: rgba(29, 29, 27, 0.05);
$texteditor-border-color: #f7f5f6;
$texteditor-hover-border-color: #6335cc;
$texteditor-focused-border-color: #6335cc;
$base-border-radius-small: 3px;
$textbox-search-icon-color: #86867e;
$accordion-title-color: #1d1d1b;
$accordion-item-title-opened-bg: transparent;
$accordion-item-border-color: #f7f5f6;
$accordion-icon-active-color: #1d1d1b;
$button-normal-color: #1d1d1b;
$button-normal-bg: #ffffff;
$button-normal-border-color: #f7f5f6;
$button-default-color: #fff;
$button-default-bg: #6335cc;
$button-default-border-color: #592fb9;
$button-danger-color: #fff;
$button-danger-bg: #ed4023;
$button-danger-border-color: #ed4023;
$button-success-color: #fff;
$button-success-bg: #5cb85c;
$button-success-border-color: #00aa1c;
$button-group-normal-selected-color: #1d1d1b;
$button-group-normal-selected-bg: rgba(0, 0, 0, 0.17);
$button-group-default-selected-color: #6335cc;
$button-group-default-selected-bg: rgba(99, 53, 204, 0.3);
$button-group-danger-selected-color: #ed4023;
$button-group-danger-selected-bg: rgba(237, 64, 35, 0.3);
$button-group-success-selected-color: #00aa1c;
$button-group-success-selected-bg: rgba(92, 184, 92, 0.3);
$drawer-shader-background-color: rgba(0, 0, 0, 0.5);
$fileuploader-filename-color: #1d1d1b;
$fileuploader-falename-status-color: #cfcfcf;
$fileuploader-border-color: #f7f5f6;
$gallery-indicator-bg: #ffffff;
$gallery-indicator-item-selected-bg: #6335cc;
$gallery-indicator-focused-bg: #452490;
$gallery-navbutton-hover-color: rgba(99, 53, 204, 0.5);
$gallery-nav-arrow-color: #fff;
$gallery-navbutton-active-color: rgba(99, 53, 204, 0.7);
$list-group-color: #1d1d1b;
$list-group-header-bg: rgba(238, 238, 238, 0.05);
$list-item-selected-bg: rgba(0, 0, 0, 0.1);
$list-item-active-bg: #6335cc;
$overlay-content-bg: #ffffff;
$overlay-shader-bg: rgba(255, 255, 255, 0.8);
$base-border-radius-large: 6px;
$popup-title-bg: transparent;
$overlay-focus-border-color: #f7f5f6;
$toast-color: #fff;
$toast-info-bg: #6335cc;
$toast-warning-bg: #ffaa0d;
$toast-error-bg: #ed4023;
$toast-success-bg: #00aa1c;
$dropdowneditor-icon-color: #1d1d1b;
$dropdowneditor-icon-active-color: #1d1d1b;
$selectbox-list-bg: #ffffff;
$tabs-tab-color: #1d1d1b;
$tabs-tab-selected-color: #1d1d1b;
$tabs-tab-bg: #f7f7f7;
$tabs-tab-selected-bg: #ffffff;
$tagbox-tag-color: #1d1d1b;
$tagbox-tag-bg: #dddddd;
$tagbox-tag-button-remove-bg: #aaaaaa;
$navbar-tab-color: #1d1d1b;
$navbar-tab-selected-color: #1d1d1b;
$navbar-tab-bg: #f7f7f7;
$navbar-tab-selected-bg: #ffffff;
$scrollable-scroll-bg: rgba(191, 191, 191, 0.7);
$scrollable-scrollbar-active-bg: rgba(191, 191, 191, 0.2);
$toolbar-bg: #ffffff;
$loadindicator-bg: #4b4b46;
$loadpanel-content-bg: #ffffff;
$slider-bar-bg: #f7f5f6;
$slider-range-bg: #6335cc;
$progressbar-bg: #dddddd;
$progressbar-range-bg: #6335cc;
$switch-on-color: #1d1d1b;
$switch-off-color: #86867e;
$pager-page-selected-color: #1d1d1b;
$pager-page-selected-bg: #d4d4d4;
$colorbox-overlay-bg: #ffffff;
$datagrid-columnchooser-item-color: #83837a;
$datagrid-columnchooser-font-weight: normal;
$datagrid-drag-header-border-color: rgba(99, 53, 204, 0.5);
$datagrid-selection-bg: rgba(0, 0, 0, 0.1);
$datagrid-row-selected-border-color: #f7f5f6;
$datagrid-row-selected-color: #1d1d1b;
$datagrid-row-focused-color: #fff;
$datagrid-row-focused-bg: #6335cc;
$datagrid-menu-icon-color: #76766e;
$datagrid-cell-modified-border-color: rgba(92, 184, 92, 0.5);
$datagrid-row-invalid-faded-border-color: rgba(217, 83, 79, 0.4);
$datagrid-group-row-color: #83837a;
$datagrid-group-row-bg: #f7f7f7;
$datagrid-search-color: #fff;
$datagrid-spin-icon-color: #83837a;
$datagrid-search-bg: #6335cc;
$datagrid-row-error-color: #fff;
$datagrid-row-error-bg: #e89895;
$datagrid-focused-border-color: #6335cc;
$datagrid-editor-bg: #ffffff;
$datagrid-row-alternation-bg: #f5f5f5;
$datagrid-summary-color: rgba(29, 29, 27, 0.7);
$PIVOTGRID_AREA_COLOR: #83837a;
$PIVOTGRID_TOTALCOLOR: rgba(221, 221, 221, 0.2);
$PIVOTGRID_GRANDTOTALCOLOR: #f5f5f5;
$PIVOTGRID_FIELD_AREA_TEXT_COLOR: #3d3d39;
$pivotgrid-spin-icon-color: #83837a;
$SCHEDULER_BASE_BORDER_COLOR: rgba(247, 245, 246, 0.6);
$SCHEDULER_ACCENT_BORDER_COLOR: #e0d9dd;
$SCHEDULER_APPOINTMENT_TEXT_COLOR: #fff;
$SCHEDULER_APPOINTMENT_BASE_COLOR: #6335cc;
$SCHEDULER_APPOINTMENT_START_COLOR: rgba(0, 0, 0, 0.3);
$SCHEDULER_FIRST_MONTH_BORDER_COLOR: #cabcc3;
$SCHEDULER_WORKSPACE_FOCUSED_CELL_COLOR: #f1ecfa;
$SCHEDULER_CURRENT_TIME_CELL_COLOR: #6335cc;
$menu-item-expanded-color: #1d1d1b;
$menu-item-selected-bg: #e6e6e6;
$calendar-header-color: #86867e;
$calendar-cell-other-color: #9d9d95;
$calendar-cell-selected-bg: #6335cc;
$calendar-navigator-border-color: #f7f5f6;
$calendar-navigator-hover-border-color: #f7f5f6;
$calendar-shevron-icon-color: #6335cc;
$tooltip-color: #1d1d1b;
$tooltip-bg: #ffffff;
$tooltip-border-color: #f7f5f6;
$numberbox-spin-icon-color: #1d1d1b;
$tileview-color: #1d1d1b;
$treeview-focused-bg: #6335cc;
$treeview-spin-icon-color: #1d1d1b;
$form-group-border-color: #f7f5f6;
$filterbuilder-text-color: #1d1d1b;
$filterbuilder-text-focus-color: #FFF;
$filterbuilder-plus-icon-color: rgba(92, 184, 92, 0.3);
$filterbuilder-remove-icon-color: rgba(237, 64, 35, 0.3);
$filterbuilder-group-operation-color: rgba(0, 136, 255, 0.3);
$filterbuilder-item-field-color: rgba(99, 53, 204, 0.3);
$filterbuilder-item-operator-color: rgba(255, 170, 13, 0.3);
$filterbuilder-item-value-color: rgba(247, 245, 246, 0.5);
$radiogroup-checked-bg: #6335cc;
$radiogroup-border-color: #f7f5f6;
$radiogroup-bg: #ffffff;
$radiobutton-active-bg: rgba(96, 96, 96, 0.2);
$radiogroup-hover-border-color: rgba(99, 53, 204, 0.4);
$radiobutton-focused-border-color: #6335cc;
$accordion-color: #1d1d1b;
$accordion-item-focused-border-color: #6335cc;
$accordion-background-color: #ffffff;
$accordion-title-active-color: #1d1d1b;
$accordion-item-hover-bg: rgba(0, 0, 0, 0.04);
$accordion-title-active-bg: rgba(96, 96, 96, 0.2);
$checkbox-border-color: #f7f5f6;
$checkbox-focused-borderd-color: #6335cc;
$checkbox-bg: #ffffff;
$checkbox-hover-border-color: #4b279c;
$checkbox-active-icon-bg: rgba(96, 96, 96, 0.2);
$base-invalid-color: #d9534f;
$base-invalid-faded-border-color: rgba(217, 83, 79, 0.4);
$list-border-color: #f7f5f6;
$list-normal-color: #1d1d1b;
$list-item-hover-bg: rgba(0, 0, 0, 0.04);
$list-item-focused-selected-bg: rgba(99, 53, 204, 0.7);
$list-focused-bg: #6335cc;
$dropdowneditor-button-hover-bg: #e6e6e6;
$dropdowneditor-button-active-bg: #b3b3b3;
$tabs-border-color: #f7f5f6;
$tabs-focused-border-color: #6335cc;
$tabs-tab-hover-bg: #ffffff;
$navbar-tab-focused-border-color: #6335cc;
$switch-border-color: #f7f5f6;
$switch-handle-active-bg: #412288;
$switch-hover-border-color: #6335cc;
$switch-focused-border-color: #6335cc;
$switch-container-active-bg: rgba(96, 96, 96, 0.2);
$switch-active-border-color: #6335cc;
$datagrid-base-color: #1d1d1b;
$datagrid-base-background-color: #ffffff;
$datagrid-border-color: #f7f5f6;
$datagrid-hover-bg: rgba(0, 0, 0, 0.04);
$datagrid-row-hovered-color: #1d1d1b;
$datagrid-nodata-color: #86867e;
$datagrid-link-color: #6335cc;
$datagrid-columnchooser-bg: #ffffff;
$treelist-base-color: #1d1d1b;
$treelist-base-background-color: #ffffff;
$treelist-border-color: #f7f5f6;
$treelist-columnchooser-item-color: #83837a;
$treelist-columnchooser-font-weight: normal;
$treelist-drag-header-border-color: rgba(99, 53, 204, 0.5);
$treelist-selection-bg: rgba(0, 0, 0, 0.1);
$treelist-row-selected-border-color: #f7f5f6;
$treelist-row-selected-color: #1d1d1b;
$treelist-row-focused-color: #fff;
$treelist-row-focused-bg: #6335cc;
$treelist-menu-icon-color: #76766e;
$treelist-cell-modified-border-color: rgba(92, 184, 92, 0.5);
$treelist-row-invalid-faded-border-color: rgba(217, 83, 79, 0.4);
$treelist-search-color: #fff;
$treelist-spin-icon-color: #83837a;
$treelist-search-bg: #6335cc;
$treelist-row-error-color: #fff;
$treelist-row-error-bg: #e89895;
$treelist-focused-border-color: #6335cc;
$treelist-editor-bg: #ffffff;
$treelist-row-alternation-bg: #f5f5f5;
$treelist-summary-color: rgba(29, 29, 27, 0.7);
$treelist-hover-bg: rgba(0, 0, 0, 0.04);
$treelist-row-hovered-color: #1d1d1b;
$treelist-nodata-color: #86867e;
$treelist-link-color: #6335cc;
$treelist-columnchooser-bg: #ffffff;
$PIVOTGRID_BORDER_COLOR: #f7f5f6;
$PIVOTGRID_DATA_AREA_COLOR: #1d1d1b;
$scheduler-cell-hover-bg: rgba(0, 0, 0, 0.04);
$SCHEDULER_PANEL_TEXT_COLOR: #1d1d1b;
$SCHEDULER_WORKSPACE_BACKGROUND_COLOR: #ffffff;
$SCHEDULER_WORKSPACE_ACCENT_COLOR: #6335cc;
$menu-popup-bg: #ffffff;
$menu-item-hover-bg: rgba(0, 0, 0, 0.04);
$menu-color: #1d1d1b;
$menu-item-hovered-color: #1d1d1b;
$menu-popup-border-color: #f7f5f6;
$calendar-color: #1d1d1b;
$calendar-hover-bg: rgba(0, 0, 0, 0.04);
$calendar-border-color: #f7f5f6;
$calendar-cell-active-bg: rgba(96, 96, 96, 0.2);
$treeview-hover-bg: rgba(0, 0, 0, 0.04);
$treeview-border-color: #f7f5f6;
$form-field-item-color: #1d1d1b;
$filterbuilder-bg: #ffffff;
